* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-align: center;
    font-size: 16px;
}

:root {
    --primary-color:#4c6123;
    --secondary-color: #DBE0DA;
    --tertiary-color: #748D89;
    --quaternary-color: #F2F2F2;
    --senary-color: #4a5751;
}

.container {
    background: var(--tertiary-color);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--secondary-color);
    width: 350px;
    padding: 2em;
    margin: 2em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--senary-color);
}

@media (max-width: 380px) {
    .card {
        width: min-content;
    }
}

.title {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--senary-color);
}

.camp-inputs, .camp-inputs2, .card form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.camp-inputs input {
    padding: 0.3em;
    background: transparent;
    border-width: 0 0 2px 0;
    border-color: var(--senary-color);
    outline: none;
}

input[type="radio"] {
    appearance: none;
    display: none;
}

input[type="radio"]:checked+label {
    border-bottom: 2px solid var(--senary-color);
}

.camp-inputs2:hover {
    scale: 1.1;
}

.button {
    padding: 0.5em 1.6em;
    border: 2px solid var(--tertiary-color);
    color: var(--senary-color);
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button:hover {
    scale: 1.05;
}

.button:active {
    scale: 0.96
}

.list-results {
    columns: 2;
}

.list-results li {
    list-style: none;
    padding: 0.5em;
    text-align: right;
    text-wrap: wrap;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr {
    border: 1px solid var(--senary-color);
}

.input-select {
    background-color: transparent;
    outline: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}